@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-img-desktop: url('./assets/images/bg-desktop-light.jpg');
  --bg-img-mobile: url('./assets/images/bg-mobile-light.jpg');
}

.dark:root {
  --bg-img-desktop: url('./assets/images/bg-desktop-dark.jpg');
  --bg-img-mobile: url('./assets/images/bg-mobile-dark.jpg');
}

@layer base {
  body {
    @apply text-black dark:text-white;
  }
}

@layer components {
  .check-circle {
    @apply w-6 h-6 rounded-full border border-[var(--very-light-grayish-blue)];
  }
}
